.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}

.contents{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-width: 850px;
    border: none;
}

.contents .heading{
    display: block;
    align-items: center;
    justify-content: center;
    border: none;
}

.contentz{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 155px;
    padding: 15px;
}