.form-box {
    max-width: 600px;
    background: #EFBC9B;
    border: 1px solid rgb(214, 165, 124);
    border-radius: 10px;
    color: #010101;
    box-shadow:  -16px 12px 18px #917a64;

  }

  .reg-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #000;
  }
  
  /*Inputs box*/
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    border-radius: 8px;
    background-color: #FBF3D5;;
    margin: 1rem 0 .5rem;
    width: 100%;
  }

  .form-container span{
    margin-bottom: -2%;
  }
  
  .input {
    background: none;
    height: 40px;
    width: 100%;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: .9rem;
    padding: 30px 15px;
  }

  .input-cont label{
      text-align: left;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #FBF3D5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
    
  }
  
  .form-section a {
    font-weight: bold;
    color: #e89d6b;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #eda97c95;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color:#FBF3D5;
    color: #716767;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #efbd9b95;
  }

  .select-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .social-container {
	margin: 1%;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5%;
	height: 40px;
	width: 40px;
}
  
  .input select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    height: 40px;
    width: 100%;
    color: #000;
    border-bottom: 1px solid #000;
    font-size: .9rem;
    padding: 8px 15px; /* Adjust padding to align with text inputs */
  }
  
  .input select option {
    background-color: #FBF3D5; /* Background color for dropdown options */
    color: #000; /* Text color for dropdown options */
  }
  
  .input select:focus {
    outline: none;
    border-color: #000; /* Highlight border color on focus */
  }